<!DOCTYPE html>
<html>
  <head>
    <title>New Blog Creation</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/newstyle.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
  	<div class="container">
  		<h1 class="gradient">Let's Blog your Idea!</h1>
        <br>
  	    <form action="/sign" method="post">
  	    <div>
            <textarea name="title" rows="1" cols="125" placeholder="Enter your Title here ...."></textarea>
        </div>
            <br>
        <div>
            <textarea name="content" rows="25" cols="125" placeholder="Enter your Content here ...."></textarea>
        </div>
        <div>
        <input type="submit" value="Blog It!"></div>
  	</form>
  	</div>
  </body>
</html>