* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	align-items: center;
    background-image: url('/images/blogitpage.png');
    background-position: center center;
    background-size: cover;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

input {

background: linear-gradient(to right, rgba(252,74,26,0.9), rgba(58,9,141,0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px 32px;
  margin: 250px 410px 0px 430px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

input:hover {
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}